
*.h5
*.pkl


*.parquet
__pycache__/
data_mining/data_notprocessed/
data_analysis/final-project-online-shoppers-intention.ipynb
machine_learning_anomaly_detection/dataset
machine_learning_anomaly_detection/old
machine_learning_anomaly_detection/yonerge.md