
*.h5
*.pkl


*.parquet
__pycache__/
Data Mining/data_notprocessed/
/Data Analysis and Statistics/final-project-online-shoppers-intention.ipynb
/Machine Learning and Anomaly Detection/dataset
/Machine Learning and Anomaly Detection/old
/Machine Learning and Anomaly Detection/yonerge.md